/*Declaração de vars*/
:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: var(--preto);
    color: #fff;
}
.container{
    padding: 0 4rem;
}

#filme-destaque{
    background: linear-gradient(rgba(20, 20, 20, .50), rgba(20, 20, 20, .50)100%), url('../imgs/filme-principal.jpg');
    background-size: cover;
    height: 38rem;
}

header div.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    margin-bottom: 1.5rem;
}

#logo-netflix{
    width: 9rem;
}

#menu-nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 1.5rem;
}
#menu-nav a:hover{
    color: #aaa;
}

/*Divisão do filme em destaque*/

#logo-poderoso-chefao{
    width: 17rem;
}

#filme-principal div.container{
    display: flex;
    flex-direction: column; 
    justify-content: center; /*Ele segue a orientação do flex-direction*/
    align-items: flex-start;
}

#descricao-filme-principal{
    line-height: 1.4rem;
    font-weight: bold;
    margin: 1rem 0rem;
    font-size: 1rem;
    width: 35rem;
}

#buttons{
    display: flex;
}

#buttons button{
    margin-right: 0.5rem;
    padding: 0.4rem  1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}

#btn-play, #btn-mais-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .3s ease all;
}

#btn-mais-info:hover{
    background-color: rgba(92, 92, 92, 0.4);
} #btn-play:hover{
    background-color: rgb(163, 163, 163);
}

#btn-mais-info{
    background-color: rgba(170, 170, 170, .40);
    color: #fff;
}

.icon-btn{
    width: 1.5rem;
    margin-right: 0.5rem;
}

/*Configurações de miniaturas de filmes*/

#minha-lista-sub{
    display: flex;
    margin: 1rem 0;
    align-items: center;
}
#minha-lista-sub img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.subtitulos-carrossel{
    margin: 1rem 0;
}

.miniatura-filme{
    width: 50%;
}

/*Divisão do footer*/
footer .container{
    margin: 5rem 10rem 1rem 10rem;
}

#social-media a img.icon-btn{
    margin:0 1.5rem 0.5rem 0;
}

#colums-footer{
    display: flex;
    justify-content: center;
}

.column-infos-footer{
    list-style: none;
    width: 30rem;
    line-height: 2rem;
}

.link-footer{
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-size: 0.9rem;
}
.link-footer:hover{
    text-decoration:underline;
}

#btn-footer{
    margin: 1.5rem 0 1rem 0;
    background-color: transparent;
    color: rgb(109, 109, 109);
    padding: 0.4rem;
    border: 0.1rem solid rgb(109, 109, 109);
    font-size: 0.9rem;
}

footer .container p{
    color: rgb(109, 109, 109);
    font-size: 0.9rem;
}
